.cp-Nav {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
  border-color: #080808;
  color: white;
  z-index: 99999; }
  .cp-Nav .cp-Nav_User {
    min-width: 20px; }
  .cp-Nav .cp-Nav_User-Person {
    width: 22px;
    margin-right: 10px; }
  .cp-Nav .cp-Nav_User-Avatar {
    width: 23px;
    border-radius: 100%;
    margin-right: 10px; }
  .cp-Nav .navbar-nav a {
    color: white !important; }
    .cp-Nav .navbar-nav a:hover, .cp-Nav .navbar-nav a:focus {
      background-image: none;
      background: none;
      box-shadow: none;
      color: #ff690f !important; }
  .cp-Nav .navbar-nav .open a {
    background-image: none;
    background: none;
    box-shadow: none;
    color: #ff690f; }
    .cp-Nav .navbar-nav .open a:hover, .cp-Nav .navbar-nav .open a:focus {
      background-image: none;
      background: none;
      box-shadow: none;
      color: #ff690f; }
  .cp-Nav ul.dropdown-menu {
    margin-top: 7px; }
    .cp-Nav ul.dropdown-menu:before {
      content: "\e253";
      position: absolute !important;
      top: -10px !important;
      left: 10px;
      /* background: white; */
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .cp-Nav ul.dropdown-menu a {
      color: black !important; }
