@import "../../../../assets/mixins.less";
@import "../../../../assets/palette.less";

@AVATAR_SIZE : 45px;

.cp-CarCard{
  width: 100%;
  text-decoration: none;
  color: @text-color;
}

.cp-CarCard__head{
  padding:5px;
}

.cp-CarCard__content{
  min-height: 85px;
  max-height: 85px;
  overflow: scroll;
}

.cp-CarCard__actions {
  display: flex;
  justify-content: space-between;

  .cp-CarCard__more-button{

  }

}

.cp-CarCard__info {
  display: flex;
  width: 100%;
  align-items: center;

  .cp-CarCard__avatar {
    width: @AVATAR_SIZE;
    height: @AVATAR_SIZE;
    border-radius: 50%;
    cursor: pointer;
  }

  .cp-CarCard__name-author {
    margin-left: 10px;
    width: calc(~"100% -" @AVATAR_SIZE ~ "- 20px");
  }
}

.cp-CarCard__media {
  min-height: 200px;
  cursor: default;
  padding: 0;
  position: relative;
}