.cp-Banner{
  position: relative;

  .container{
    position:absolute;
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    color:white;
    text-align:center;
  }
}